
.searchTerm {
    width: 100%;
    border: 3px solid red;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: red;
}

.button {
    height: 36px;
    border: 1px solid;
    border-radius: 0 5px 5px 0;
    text-align: center;
    padding: 40px;
    color: red;
    border: 3px solid;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.wrap{
    width: 30%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
}
