.nav {
   height: 50px;
   padding: 10px;
   background: rgb(0, 0, 0);
   color: rgb(155, 13, 13);
   display: flex;
    align-items: center; 
   justify-content: flex-start;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav ul li a {
    margin: 5px 15px;
}