
.progressbar {
    position: fixed;
    top: 10;
    left: 0;
    right: 0;

    height: 150px;
    background: var(--red);
    transform-origin: 8%;
  }
  

  .box {
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: var(--accent);
  }
  